<div class="links-container">
    <div class="links-heading">
        <h1>Follow Us On</h1>
    </div>
    <div class="social-links">
        <a href="https://www.facebook.com/" target="_"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_"><i class="fab fa-instagram-square"></i></a>
        <a href="https://www.youtube.com/" target="_"><i class="fab fa-youtube"></i></a>
        <a href="https://www.pinterest.com/" target="_"><i class="fab fa-pinterest"></i></a>
    </div>
</div>