<div id="header">
    <div id="navbar">
        <div id="logo">
            <a href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <div id="nav-links">
            <a href="#menu">Menu</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <a href="">About Us</a>
            <a href="/cart">Cart</a>
        </div>
        <div id="font-awesome-icon-menu" class="font-awesome" onclick="fx()"><i class="fas fa-bars"></i>
        </div>
        <div id="font-awesome-icon-cross" class="font-awesome" onclick="fx()"><i class="fas fa-times"></i>
        </div>
    </div>
</div>


<script>
    let menu_icon = document.getElementById('font-awesome-icon-menu');
    let cross_icon = document.getElementById('font-awesome-icon-cross');

    let nav_style_position = document.getElementById('nav-links');

    function fx() {
        if (nav_style_position.style.left === '0px') {
            nav_style_position.style.left = '-100%';
            menu_icon.style.display = 'flex';
            cross_icon.style.display = 'none';
            console.log('contracted');
            console.log(nav_style_position.style.left);
        }
        else {
            nav_style_position.style.left = '0px';
            menu_icon.style.display = 'none';
            cross_icon.style.display = 'flex';
            console.log('expanded');
            console.log(nav_style_position.style.left);
        }
    }
</script>