<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Register</title>
</head>

<body>

    {{>navbar}}

    <h1
        class="text-2xl flex justify-center align-baseline mt-20 m-auto py-4 lg:w-1/3 md:w-5/12 sm:w-1/2 bg-orange-600 text-white">
        Create Account</h1>

    <!-- component -->
    <form action="/register" method="post">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 lg:w-1/2 md:w-1/2 sm:w-3/4 mx-auto my-10 flex flex-col">
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username"
                    type="text" name="username" placeholder="Username">
            </div>
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                    E-mail
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email"
                    type="text" name="email" placeholder="E-mail">
            </div>
            <div class="mb-6">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
                    id="password" type="password" name="password" placeholder="******************">
                <p class="text-red text-xs italic">Please choose a password.</p>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="border-2 border-orange-600 bg-orange-600 hover:bg-white text-white hover:text-orange-600 font-bold py-2 px-4 rounded"
                    type="button">
                    <input type="submit" value="Register">
                </button>
                <div>
                    <div>
                        <p class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker">
                            Already have an account?
                        </p>
                    </div>
                    <div>
                        <a class="flex justify-center font-bold text-xl text-blue hover:text-blue-darker text-orange-600 "
                            href="/login">
                            Log In
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{>footer}}

</body>

</html>