.cards-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 2rem;
    padding: 4rem 0;
}

@media only screen and (max-width:1028px) {
    .cards-container{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}
@media only screen and (max-width:768px) {
    .cards-container{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}