.intro-container{
    background-color: #dd6b20;
    color: #fff;
    padding: 2rem 0;
    box-shadow: 10px 10px 40px #4b4b4b;
    margin-bottom: 2rem;
}
.intro-container .intro-section{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.intro-container .content{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 1rem 1rem 0;
}